body{
    background: #111;
    margin: 0px;
}

#canvas{
    background: white;
    margin: 0 auto;
    display: block;
    position: relative;
    margin-top: 25px;
    image-rendering: pixelated;
    height: 90vh;
}