body{
    background: #111;
    margin: 0px;
}

#canvas{
    background: black;
    image-rendering: pixelated;
    position: absolute;
    left: 0px;
    width: 100%;
    top: 0px;
    z-index: 0;
}

#canvas-wrap{
    width: 900px;
    position: relative;
    margin: 0 auto;
    display: block;
    margin-top: 50px;
}

#wrap{
    position: relative;
    margin: 0 auto;
    display: block;
    width: 1000px;
}

#gui{
    color: white;
    display: block;
    padding: 25px;
    z-index: 10;
    position: relative;
}